/* MAIN NAVBAR */
.navbar {
  width: 100%;
  padding: 12px 40px;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT */
.leftSection {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Hide hamburger in desktop */
.mobileMenuIcon {
  display: none;
}

/* Hide desktop logo in mobile */
.desktopLogoIcon {
  display: block;
}

/* CENTER */
.centerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 2px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 45px;
  margin-top: 35px;
  font-size: 16px;
  font-weight: 700;
}

/* RIGHT SECTION + DROPDOWN WRAPPER */
.rightWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* RIGHT ICONS */
.rightSection {
  display: flex;
  gap: 18px;
  align-items: center;
}

/* DROPDOWN */
.dropdownContainer {
  position: relative;
}

.dropdownButton {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.arrow {
  transition: 0.3s;
  font-size: 12px;
}

.open {
  transform: rotate(180deg);
}

.dropdownMenu {
  position: absolute;
  background: white;
  top: 28px;
  right: 0;
  width: 100px;
  border: 1px solid #ddd;
  padding: 10px 0;
  z-index: 20;
}

.dropdownItem {
  padding: 8px 14px;
  cursor: pointer;
}

.dropdownItem:hover {
  background: #f5f5f5;
}

/* ------------------------------ */
/* MOBILE */
/* ------------------------------ */
@media (max-width: 768px) {
  .navbar {
    padding: 12px 20px;
  }

  /* Desktop menu hidden */
  .menu {
    display: none;
  }

  .mobileMenuIcon {
    display: block;
  }

  .desktopLogoIcon {
    display: none;
  }

  .logo {
    font-size: 20px;
  }
}

/* Mobile dropdown list under navbar */
.mobileMenu {
  list-style: none;
  background: white;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;

  font-size: 18px;
  font-weight: 700;
}
