/* WRAPPER */
.wrapper {
  width: 100%;
  padding: 15px 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #e5e5e5;
  background: white;

  position: relative;       /* IMPORTANT */
  z-index: 2000;            /* FIXED */
}

/* LEFT SIDE */
.left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.itemsCount {
  font-weight: 700;
  font-size: 16px;
}

.hideFilterBtn {
  background: none;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

/* RIGHT SIDE */
.right {
  position: relative;
  z-index: 3000;    /* bring button above */
}

/* BUTTON */
.dropdownButton {
  padding: 10px 14px;
  border: 1px solid #dcdcdc;
  background: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 6px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.arrow {
  transition: 0.3s ease;
}

.open {
  transform: rotate(180deg);
}

/* DROPDOWN */
.dropdownMenu {
  position: absolute;
  top: 48px;
  right: 0;
  width: 190px;

  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);

  display: flex;
  flex-direction: column;

  padding: 10px 0;
  z-index: 99999;     /* TOP MOST LAYER */
}

.dropdownMenu p {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
}

.dropdownMenu p:hover {
  background: #f5f5f5;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .wrapper {
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 2000;
  }

  .right {
    justify-self: end;
  }

  .left {
    gap: 12px;
  }
}
